@page "/profData/create"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>CreateProfData</h3>

<br />

<FormComponent ButtonText="Set Profile Data" profData="profData" OnValidSubmit="@CreateProfileData" />

@code {
	ProfileData profData = new ProfileData();

	private async Task CreateProfileData()
	{
		await _client.PostAsJsonAsync(Endpoints.ProfileDatasEndpoint, profData);
		_navManager.NavigateTo("/startupinit/");
	}

}
