@page "/dailyMeals/create"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Post your daily meal!</h3>

<br />

<FormComponent ButtonText="Post Daily Meal" dailyMeal="dailyMeal" OnValidSubmit="@CreateMealData" />

@code {
	DailyMeal dailyMeal = new DailyMeal();

	private async Task CreateMealData()
	{
		dailyMeal.MealDate = DateTime.Today;
		await _client.PostAsJsonAsync(Endpoints.DailyMealsEndpoints, dailyMeal);
		_navManager.NavigateTo("/dailyMeals/");
	}

}
