@page "/forums"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using FoodCompanyManagement.Shared
@attribute [Authorize]
@inject HttpClient Http

<!DOCTYPE html>
<html>
<body>

    <h1>This is the forum</h1>

    <button type="button" onclick="alert('We have not built this part yet too')">Blog 1</button>

</body>
</html>

@code {

}
