@page "/premium"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using FoodCompanyManagement.Shared
@attribute [Authorize]
@inject HttpClient Http

<!DOCTYPE html>
<html>
<body>

	<h1>This is the Premium</h1>

	<button type="button" onclick="alert('This one too :( ')">Sign up!</button>

</body>
</html>


@code {

}
