@page "/survey"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using FoodCompanyManagement.Shared
@attribute [Authorize]
@inject HttpClient Http

<!DOCTYPE html>
<html>
<body>

	<h1>This is the survey</h1>

	<button type="button" onclick="alert('We havent built this part yet')">Question 1</button>

</body>
</html>
@code {

}
